.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    

}


.header{
    background-image: url('Hero-bg.png');
    margin: 0px;
    padding: 0px;
    background-size: cover;
    background-position: center;

}

.text-primary{
    color:tomato;
    font-size: 50px;
}
h3{
    margin-top: 20px;
    font-size: 50px;
}

nav ul li{
    list-style: none;
}
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    margin: 0 auto;
    padding: 20px 40px;
}
.btn-primary{
    background-color: #4E47FF;
    color: white;
    border:none;
    border-radius: 10px;
    padding: 5px 10px;
    font-size:16px;
    cursor: pointer;

}
.btn-primary:hover{
    background-color: rgba(120, 217, 23, 0.842);
}
.merg{
    margin-top:10px;
}
.text-align{
    text-align: center;
    font-size: 65px;
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 80px 20px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.action-section{
    
    display: flex;
    justify-content: space-between;
    margin-top: 116px;

}
.action-title{
    font-size: 42px;
}
.text-color{
    color: rgba(37, 36, 50, 0.5);
    padding-top: 23px;
}
.action-btn{
    margin-top: 23px;
}
.action-text{
    text-align: left;
}
.action-img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
